html,
body {
    padding: 0;
    margin: 0;
}
html {
    overflow: visible;
}
body {
    font-family: Arial, sans-serif;
    overflow: visible;
}
canvas {
    display: block;
}
* {
    box-sizing: border-box;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#watermark > * {
    margin: 0;
}
#container {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: absolute;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}
#container > * {
    grid-area: 1 / 1;
}
#container > *:not(#overlay) {
    z-index: 1;
}
#overlay {
    pointer-events: none;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 1em;
    margin: 0;
    overflow: hidden;
}
.pointer-events {
    pointer-events: auto;
}
#overlay > .nodeMenu {
    --x-side: -50%;
    --y-side: -50%;
    position: absolute;
    transform: translate(var(--x-side), var(--y-side)) scale(var(--scale));
    margin: 0;
    padding: 0;
    top: var(--y);
    left: var(--x);
    overflow: visible;
    background-size: auto;
    background-repeat: no-repeat;
    background-origin: center;
}
#overlay > .nodeMenu.right {
    --x-side: 5%;
}
#overlay > .nodeMenu.left {
    --x-side: -125%;
}
.nodeMenu > .button {
    transform: translate(var(--left), var(--top));
    transition: all 0.3s ease-out; 
}
.nodeMenu >.button:active {
    filter: brightness(180%);
    transition: all 2s ease-out; 
}
#overlay > .button-menu {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    overflow-y: hidden;
    overflow-x: scroll;
}
.button-menu * {
    overflow-y: hidden;
}
@keyframes mask-left-right {
    100% {
        mask-position: 35%;
        -webkit-mask-position: 35%;
    }
}

@keyframes unmask-right-left {
    100% {
        mask-position: 75%;
        -webkit-mask-position: 75%;
    }
}
.reveal {
    --mask-source: linear-gradient(to right, #fff 0%, #fff 50%, #0000 51%, #0000 100%);
    mask-image: var(--mask-source);
    -webkit-mask-image: var(--mask-source);
    mask-mode: alpha;
    mask-size: 400% 100%;
    mask-repeat: no-repeat;
    -webkit-mask-size: 400% 100%;
    transition: mask-position 0.35s ease-in-out; 
}
@starting-style {
    .reveal {
        mask-position: 75%;
        -webkit-mask-position: 75%;
    }
}

.reveal.show {
    mask-position: 30%;
    -webkit-mask-position: 30%;
}

.reveal.hide {
    mask-position: 75%;
    -webkit-mask-position: 75%;
}
